<!DOCTYPE html>
<html>
        <head>
                <title>About</title>
                <meta name="viewpost" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/styles/style.css}" rel="stylesheet">
                <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
                <meta name="color-scheme" content="dark light"></meta>
        </head>
        <body>
                <header>
                        <h1>Header</h1>
                </header>
                <nav th:replace="fragments/navbar :: nav-bar-normal"></nav>
                <nav th:replace="fragments/navbar :: nav-bar-mobile"></nav>
                <script th:replace="fragments/script :: home-script"></script>
                <main>
			<div class="about">
                                <h1 class="about_title">About</h1>
				<p class="about_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
                        <aside>
                                <h1>Aside</h1>
                        </aside>
                </main>
                <footer>
                        <h1>Footer</h1>
                </footer>
        </body>
</html>
